.container {
    width: 100vw;
    height: 100vh;
}

.content {
    width: 90%;
    height: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.content>svg {
    font-size: 8rem;
    color: var(--danger) !important;
}

.content>h1 {
    font-size: 1.2rem;
    position: relative;
    top: -.5rem;
    color: var(--danger);
}

.content>span {
    font-size: .9rem;
    font-weight: 500;

}

.buttons_container {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}