.black_screen {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.247);
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.gif {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}